body {
  margin: 0;
}

.App {
  margin: .5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: ridge .6vmin lightblue;
  border-radius: 1vmax;
  background-color: rgb(173, 230, 213);
  font-size: 10px;
}

h1 {
  margin: 1rem 0 0 1rem;
}

.container {
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: flex-start;
  justify-content: flex-start;
}

input {
  width: 10rem;
  margin-top: 1rem;
  outline: none;
}

.input-field {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#selectCurrency {
  width: fit-content;
  margin-left: .5rem;
}