body {
  margin: 0;
}

.App {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#06beb6 , #48b1bf)
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: ridge .6vmin lightblue;
  border-radius: 1vmax;
  background-color: rgb(173, 230, 213);
  font-size: 12px;
}

h1, 
.input-title {
  margin: 1rem auto .5rem;
  font-size: 2rem;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                   0px -5px 35px rgba(255,255,255,0.3);
}

.container {
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: flex-start;
  justify-content: flex-start;
}

input {
  width: 10rem;
  margin-top: 1rem;
  outline: none;
}

.input-field {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.input-title {
  margin-left: .5rem;
  font-size: 1rem;
}

#selectCurrency {
  margin-left: .5rem;
}

.footer {
  position: absolute;
  bottom: 5vh;
  display: flex;
  justify-content: center;
}

.footer__link {
  background: #00FF00;
  background: -webkit-linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  background: -moz-linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 1s;
}

.footer__link:hover {
  transform: scale(1.2);
}